@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Noto Sans TC";
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1550945233-716f16384ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat; /* 這行 code 讓 圖片不會重複出現 */
  background-size: cover;
}

.panel{
  width:50vw;
  height:40vh;
  background-color: rgba(255,255,255,0.8);
  display:flex; 
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  padding:40px;
  
}

.selfie{
  height:100px;
  width:100px;
  border-radius:100%;
  background-image: url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.0-9/29257953_2091074550908582_2412422051433283584_o.jpg?_nc_cat=108&_nc_ht=scontent.ftpe8-1.fna&oh=e5c5ceb5fe14aac74c2ff20b10aab252&oe=5D10FFC2");
  background-size: cover;
  
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

h3 {
  text-align: center;
  margin: 10px;
  font-size: 25px;
}

.about {
  height: 50vh;
  background-color: rgba(0,0,0,0.1);
  padding:30px;
}

.about p {
  border: none;
  height: 50px;
  color: rgb(10,10,10);
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items:center;

}
.content-pic{
    height:100px;
    width:100px;
    border-radius:0%;
    background-image: url("https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.0-9/29257953_2091074550908582_2412422051433283584_o.jpg?_nc_cat=108&_nc_ht=scontent.ftpe8-1.fna&oh=e5c5ceb5fe14aac74c2ff20b10aab252&oe=5D10FFC2");
    background-size: cover;
    background-repeat: no-repeat;
}  
.content-p {
  display: flex;
  flex-direction: column;
  margin:30px;
}

.experience {
  height: 70vh;
  background-color: AliceBlue;
}
.experience h3{
  margin-bottom:30px;
}
.experience p{
  margin:10px;
}

.photos{
  height:100vh;
}

.photo{
  width:200px;
  height:200px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  margin:30px;
}
.photo1{
  background-image: url("http://s2.story543.com/imgs/201811/27/5/15433116332371.jpeg");
}
.photo2{
  background-image: url("https://ir.marieclaire.com.tw/s805c452h100/assets/mc/201806/5B36133A7DF471530270522.jpeg");
}
.photo3{
  background-image: url("https://s.yimg.com/ny/api/res/1.2/..m0.kkM4OLGFXn2tlGwIA--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NTEwO2g9NzY1/http://media.zenfs.com/zh-Hant-TW/homerun/setn.com.tw/f7c98b071d9a41acbcd2cf36a7cb24f3");
}
.photo-wrapper{
  display:flex;
  background-color: black;
  justify-content:center;
  width: 1000px
}
.contact {
  height: 50vh;
  background-color:#204060;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center
}
.contact h5{
  margin-top:30px;
}
.contact a{
  color:white;
}
